{% extends "profiles/base.html" %}
{% block content %}
<div>
	<center>
<h1> BoostYourCP </h1>


<img src="http://2020.almafiesta.com/hosted_files/raja.gif" width=60% height=60%>
<h4> Register with us and then we will be sending you calender file (via mails ) for coding event happening on Codechef and Codeforces regularly.
	Other features coming soon.
</h4>
<a href="{% url 'login' %}" class="btn btn-info" role="button">Login  </a> 
<a href="{% url 'register' %}" class="btn btn-info" role="button"> Register  </a>
</center>
</div>
{% endblock content %}